* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Fade section up on load */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9)
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}

/* Fade section down on load */
/* @keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9)
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
} */

/* Floating 'Scroll Down' on home intro section */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
  }

/* Border of home picture */
@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
  }
}

/**************************************************************/
/**************************************************************/
/*************************** GENERAL ***************************/
/**************************************************************/
/**************************************************************/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

#home h2 {
  color: #1D3557;
}

/**************************************************************/
/**************************************************************/
/***************************** NAV ****************************/
/**************************************************************/
/**************************************************************/
#navBar {
  display: flex;
  flex-direction: column;
}
.navBarTop {
  /* animation: fade-down 1s; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 6vh;
  padding: 0 8rem;
  /* font-weight: 500; */
}
.smallNavLinks {
  display: none;
}
.navTitle a, .navLinks a, .navBarBottom a {
  color: black;
  text-decoration: none;
  padding: 0.2rem .6rem;
}
.navTitle {
  font-size: 1.5rem;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  width: 20%;
}
.navLinks a {
  border-bottom: 2px solid transparent;
  bottom: 0;
  position: relative;
}
.navLinks a:hover, .navBarBottomLink:hover {
  border-bottom: 2px solid #E63946;
  bottom: 2px;
  color: #457B9D;
}










/**************************************************************/
/**************************************************************/
/**************************** HOME ****************************/
/**************************************************************/
/**************************************************************/
#home {
  flex-direction: column;
  margin: auto;
}

.homeIntro {
  animation: fade-up 0.5s;
  height: 95vh;
  width: 65%;
  justify-content: space-around;
  /* flex: 1 1 0; */
}




.homeIntroL {
  /* flex: 1 1 0; */
  width: 50%;
}
.homeIntroParagraph span, .homeIntroTitle, #home h1, .scrollDown {
  color: #1D3557;
  font-weight: 600;
}
/* #home h1 {
  font-size: 2.75rem;
} */
/* #home h3 {
  font-size: 1.5rem;
} */
.homeIntroTitle {
  color: #E63946;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.homeIntroParagraph, .scrollDown {
  font-size: 1.2rem;
}
.scrollDown {
  color: #E63946;
  position: absolute;
  margin-top: 4rem;
  font-size: 1rem;
  animation: float 2.5s ease-in-out infinite;
}
.scrollDownIcon {
  font-size: 1.75rem;
  margin-bottom: .25rem;
}





.contactMeBtn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #1a304e;
  border-radius: 8px;
  background: #4985da;
  background: -webkit-gradient(linear, left top, left bottom, from(#4985da), to(#1a304e));
  background: -moz-linear-gradient(top, #4985da, #1a304e);
  background: linear-gradient(to bottom, #4985da, #1a304e);
  /* background: -moz-linear-gradient(right, #4985da, #1a304e);
  background: linear-gradient(to left, #4985da, #1a304e); */
  -webkit-box-shadow: #59a1ff 0px 0px 10px 0px;
  -moz-box-shadow: #59a1ff 0px 0px 10px 0px;
  box-shadow: #59a1ff 0px 0px 10px 0px;
  text-shadow: #0f1b2c 1px 1px 1px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
}
.contactMeBtn:hover,
.contactMeBtn:focus {
  border: 1px solid #1d3557;
  background: #58a0ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#58a0ff), to(#1f3a5e));
  background: -moz-linear-gradient(top, #58a0ff, #1f3a5e);
  background: linear-gradient(to bottom, #58a0ff, #1f3a5e);
  color: #ffffff;
  text-decoration: none;
}
.contactMeBtn:active {
  background: #1a304e;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a304e), to(#1a304e));
  background: -moz-linear-gradient(top, #1a304e, #1a304e);
  background: linear-gradient(to bottom, #1a304e, #1a304e);
}


.contactMeBtnIcon {
  font-size: 1.75rem;
  margin-bottom: 0.15rem;
}

.battleship{
  color: white;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: url('./images/HomeProfilePic.jpg');
  background-size: cover;
  background-position: center center;
  height: 425px;
  width: 425px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 12s ease-in-out infinite;
  transition: all 1s ease-in-out;
}









/************************************HOME PROJECTS************************************/
.homeProjects {
  background-color: #F1FAEE;
  flex-direction: column;
  padding: 2.5rem 0;
  width: 100%;
}
.homeProjects h2 {
  justify-content: start;
}
.projectsTop, .projectsBottom {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: minmax(20rem, auto);
  gap: 3rem;
  margin-top: 1.5rem;
  width: 65%;
}
.projectsBottom {
  grid-template-columns: 1fr 1.5fr;
}
.project, .project1:hover .projectHover, .project2:hover .projectHover, .project3:hover .projectHover, .project4:hover .projectHover {
  border-radius: 15px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  /* text-align: center; */
  transition: all ease 0.5s;
}
.project1:hover .projectHover, .project2:hover .projectHover, .project3:hover .projectHover, .project4:hover .projectHover {
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
}
.project {
  height: 100%;
  width: 100%;
}
.project:hover {
  bottom: 10px;
}
.projectHover {
  display: none;
  height: 100%;
  width: 100%;
  transition: all ease 3s;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projectDescription {
  font-size: .9rem;
  text-align: center;
  width: 80%;
}
.projectSkills, .projectLinks{
  color: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.projectLinks {
  justify-content: space-evenly;
}
.projectSkill {
  border-radius: 25px;
  background-color: #F1FAEE;
  /* border: 1px solid #F1FAEE; */
  padding: .25rem .5rem;
  font-size: .9rem;
}
.projectLink {
  border-radius: 25px;
  /* background-color: #457B9D; */
  border: 1px solid #457B9D;
  color: #F1FAEE;
  padding: .35rem .65rem;
  font-size: .9rem;
  text-decoration: none;
}
.projectLink:hover {
  background-color: #A8DADC;
  color: #1D3557;
}
.externalLink {
  color: #F1FAEE;
}
.externalLink:hover {
  color: #457B9D;
}


.project1 {
  background-color: black;
  color: #F1FAEE;
}
.project2 {
  background-color: #1D3557;
  color: #F1FAEE;
}
.project3 {
  background-color: #A8DADC;
  color: #F1FAEE;
}
.project4 {
  background-color: #457B9D;
  color: #F1FAEE;
}
.apple, .battleship{
  height: 100%;
  width: 40%;
}
.finance {
  height: 60%;
  width: 40%;
}
.battleship {
  filter: grayscale(1);
}
.graph {
  height: 75%;
  width: 65%;
}









/************************************HOME ABILITIES************************************/
.homeAbilities {
  /* background-color: #A8DADC;
  width: 100%; */
  flex-direction: column;
  padding: 1rem 0 2rem;
  width: 65%;
}
.homeAbilities h2 {
  margin-bottom: 0;
}
.homeAbilities h3, .homeAbilities h2 {
  margin-top: 2rem;
}
.abilitiesHR {
  border: 1px solid #E63946;
  border-radius: 25px;
  opacity: 1;
  width: 60%;
}

.abilityTitle {
  color: #E63946;
  font-weight: 600;
  text-decoration: underline;
}

.skillsSection, .toolsSection{
  flex-wrap: wrap;
}

.toolsSection{
  width: 100%;
}

.skillTitle{
  font-size: 1rem;
  margin-bottom: -1.2rem;
  transition: all ease 0.75s;
}
.skillsToolLogo {
  border: solid 1px #1D3557;
  border-radius: 15px;
  bottom: 0px;
  color: #1D3557;
  font-size: 5rem;
  flex: 1 0 13%;
  margin: 1rem;
  padding: .15rem 2rem;
  position: relative;
  text-align: center;
  transition: all ease 0.5s;
}

.skillsToolLogo:hover {
  border-color: #E63946;
  bottom: 10px;
  color: #E63946;
}

.HTML:hover {
  border-color: #EA6228;
  color: #EA6228;
}
.CSS:hover {
  border-color: #29A4D9;
  color: #29A4D9;
}
.JavaScript:hover {
  border-color: #F0DC4E;
  color: #F0DC4E;
}
.React:hover {
  border-color: #61DBFB;
  color: #61DBFB;
}
.Postgresql:hover {
  border-color: #31648C;
  color: #31648C;
}
.Bootstrap:hover {
  border-color: #8311F6;
  color: #8311F6;
}
.NodeJS:hover {
  border-color: #529F41;
  color: #529F41;
}
.ExpressJS:hover {
  border-color: #485660;
  color: #485660;
}
.JQuery:hover {
  border-color: #076FAE;
  color: #076FAE;
}
.RESTfulAPI:hover {
  border-color: #01B5E6;
  color: #01B5E6;
}
.Responsive:hover {
  border-color: #000000;
  color: #000000;
}
.Git:hover {
  border-color: #F05033;
  color: #F05033;
}
.VSCode:hover {
  border-color: #0A69A8;
  color: #0A69A8;
}
.PGAdmin:hover {
  border-color: #31648C;
  color: #31648C;
}
.Firebase:hover {
  border-color: #F3C540;
  color: #F3C540;
}
.Github:hover {
  border-color: #1F2328;
  color: #1F2328;
}
.ChromeDev:hover {
  border-color: #EA4335;
  color: #EA4335;
}
.Kinsta:hover {
  border-color: #FF1D00;
  color: #FF1D00;
}


/************************************HOME CONTACT************************************/
.homeContact {
  background-color: #A8DADC;
  flex-direction: column;
  padding: 1rem 0 2rem;
  /* width: 65%; */
  width: 100%;
}
.contactContent {
  /* display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-rows: minmax(20rem, auto);
  gap: 3rem;
  margin-top: 2rem;
  width: 65%;
}

.contactInfo {
  height: 100%;
  width: 85%;
}
.contactBoxes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contactForm {
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
  height: 100%;
  width: 100%;
}
.fullName, .email, .message {
  border: 1px solid #1D3557;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: .25rem 1rem;
  width: 100%;
}
.message {
  height: 200px;
  padding-bottom: 50px;
  margin-bottom: .25rem;
}
.sendMessageBtn {
  padding: .35rem .5rem;
  font-size: 1rem;
}
.socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socialIcon {
  color: #1D3557;
  font-size: 2rem;
}
.socialIcon:hover {
  color: #457B9D;
}
.successMessage, .errorMessage {
  border-radius: 15px;
  margin-top: 1rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  text-align: center;
}
.successMessage{
  background-color: rgba(11, 118, 11, 0.61);
}
.errorMessage {
  background-color: rgba(255, 0, 0, 0.452);
}





/**************************************************************/
/**************************************************************/
/*************************** ABOUT ***************************/
/**************************************************************/
/**************************************************************/
#about{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  width: 65%;
  margin: 0rem auto 19rem;
  padding: 7rem 0 10rem;
}
#about h1, #about h2, #about h3 {
  color: #1D3557;
}
.aboutSections {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3rem;
  /* margin: auto; */
}
.aboutText {
  padding-top: 1rem;
}
.aboutText p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.aboutHighlight, .aboutLink {
  color: #E63946;
  font-weight: 700;
}
.aboutLink:hover{
  color: #457B9D;
}
.aboutImages {
  height: 100%;
  width: 100%;
}
.aboutImage {
  position: relative;
  top: 0;
  transition: 0.25s ease-in-out;
  border-radius: 50px;
  height: 100%;
  width: 80%;
}
.aboutImage:hover{
  top: -10px;
}


/**************************************************************/
/**************************************************************/
/*************************** RESUME ***************************/
/**************************************************************/
/**************************************************************/
#resume{
  animation: fade-up 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  margin: 3rem auto 2rem;
}
.resumeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
/* .resumeEmbed{
  height: 90vh;
  width: 100%;
} */
.resumeImage {
  border: 1px solid black;
  height: 60%;
  width: 60%;
}


/**************************************************************/
/**************************************************************/
/*************************** FOOTER ***************************/
/**************************************************************/
/**************************************************************/


#footer {
  color: #F1FAEE;
  background-color: #1D3557;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 6vh;
}
/* .footerSocial {
  margin: auto;
} */
.copyrightFooter {
  margin: auto;
}
.footerLink {
  color: #F1FAEE;
}
.footerLink:hover {
  color: #A8DADC;
}







/* *************************LARGE DEVICE SECTION************************* */
@media only screen and (max-width: 1656px) {
  /**************** HOME ****************/
  .skillsToolLogo {
    font-size: 3.2rem;
    flex: 1 0 1%;
  }
}
@media only screen and (max-width: 1600px) {
  #about {
    width: 90%;
    padding-bottom: 10rem;
  }
}
@media only screen and (max-width: 1500px) {
  /**************** HOME ****************/
    .skillsToolLogo {
      font-size: 2.8rem;
      flex: 1 0 1%;
    }
  /**************** ABOUT ****************/
   .aboutSections {
    gap: 4rem;
   }
}

@media only screen and (max-width: 1330px) {
  /**************** HOME ****************/
  .homeIntro {
    width: 100%;
  }
  .projectDescription {
    width: 100%;
  }
  .projectSkills, .projectLinks{
    width: 100%;
  }
  .skillTitle{
    font-size: .8rem;
  }
  .skillsToolLogo {
    font-size: 2.5rem;
    flex: 1 0 22%;
  }
  /**************** ABOUT ****************/
  .aboutSections {
    gap: 3rem;
   }
  .aboutImage {
    width: 100%;
  }
  /**************** RESUME ****************/
  #resume{
    width: 90%;
  }
}

/* *************************MEDIUM DEVICE SECTION************************* */
@media only screen and (max-width: 1024px) {

  /**************** NAVBAR ****************/
  .navBarTop {
    padding: 3rem 2rem;
  }
  .navBarBottom {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .navBarBottomLink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.374);
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 1rem 3rem 0 1rem;
    width: 80%;
    bottom: 0;
    position: relative;
  }
  .navBarBottomLink a:hover {
    color: #457B9D;
  }
  .navLinks a {
    display: none;
  }
  .smallNavLinks {
    display: block;
  }
  .navMenuIcon {
    font-size: 2rem;
  }
  .navMenuIcon:hover {
    cursor: pointer;
  }

  /**************** HOME ****************/
  .homeIntro {
    flex-direction: column;
    justify-content: start;
  }
  .homeIntroL {
    margin-bottom: 8rem;
    margin-top: 6rem;
    width: 80%;
  }
  .homeIntroTitle {
    margin-top: 1rem;
  }
  .box {
    margin-top: 4rem;
  }
  .scrollDown {
    margin-top: 3rem;
  }
  .projectHover {
    width: 100%;
  }
  .projectsTop, .projectsBottom {
    width: 90%;
  }
  .projectSkill, .projectLinks {
    font-size: .8rem;
  }
  .project, .project1:hover .projectHover, .project2:hover .projectHover, .project3:hover .projectHover, .project4:hover .projectHover {
    padding: 2rem 0rem;
  }
  .homeAbilities {
    width: 90%;
  }
  .skillsToolLogo {
    font-size: 3rem;
    flex: 1 0 25%;
  }
  .contactContent {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  /**************** ABOUT ****************/
  .aboutImage {
    height: 80%;
  }

  /**************** RESUME ****************/
  .resumeEmbed{
    /* height: 40vh; */
    width: 80%;
  }
}

/* *************************MOBILE DEVICE SECTION************************* */
@media only screen and (max-width: 800px) {

  /**************** HOME ****************/
  .box {
    height: 325px;
    width: 325px;
  }
  .projectsTop, .projectsBottom {
    display: flex;
    /* grid-auto-rows: 100;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 1rem; */
    gap: 1rem;
    flex-direction: column;
    width: 80%;
  }
  .projectHover p, .projectHover .projectSkill, .projectHover .projectLink {
    font-size: .75rem;
  }
  .projectHover h3 {
    font-size: 1.25rem;
  }
  .projectSkill, .projectLink {
    padding: .15rem .35rem;
  }


  /**************** ABOUT ****************/
  #about {
    padding: 1rem 0 0;
    margin-bottom: 3rem;
  }
  .aboutSections {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 650px) {
  /**************** NAVBAR ****************/
  .navBarTop {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 500px) {
  /**************** HOME ****************/
  .homeIntro {
    gap: 6rem;
    height: 100vh;
  }
  .homeIntroL {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .box {
    margin-top: 1rem;
    height: 250px;
    width: 250px;
  }
  .skillsToolLogo {
    font-size: 3rem;
    flex: 1 0 1%;
    padding: .15rem 1rem;
  }



  /**************** ABOUT ****************/
  .aboutImage {
    height: 100%;
    width: 70%;
  }

  /**************** RESUME ****************/
  #resume {
    padding: 1rem 0 5rem;
  }
  .resumeImage {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .navBarTop {
    padding: 3rem 1rem;
  }
  /**************** RESUME ****************/
  #resume {
    padding: 5rem 0 8rem;
  }
}